{% load static %}
{% include 'nav.html'%}

<section id="why-us" class="why-us">
    <div class="section-title">
      <h2> beneficier des epreuves de tout les concours du cameroun, et aussi un leurs correction dans le rubrique des <a href="{%url 'correction'%}">correction </a> </h2>
      <p>nos vous proposons un eventaille complet d'epreuves et d'exercice de type concours et examen puis sourtout de corection. ici sont affiche les plus demande en matiere d'epreuve de concours pour territoire camerounais uniquement allnt de premiere annee a troisieme annee</p>
      <a class="getstarted scrollto" href="">voire plus</a>
    </div>
    

    </div>

{% include 'footer.html'%}